@using System.Globalization
@model BirthdayCalculator.Models.Birthday

@{
    ViewData["Title"] = "Voer Geboortedatum In";
}

<!DOCTYPE html>

<div >
    <h1>Voer hier je geboortedatum in!</h1>
    <form asp-action="CalculatorForm" method="post">
        <label asp-for="Name">Dag</label><input asp-for="Name">
        <label asp-for="Day">Dag</label><input asp-for="Day">
        <label asp-for="Month">Maand</label><input asp-for="Month">
        <label asp-for="Year">Jaar</label><input asp-for="Year">
        <input type="submit" value="Bereken">
    </form>
</div>