@using System.Globalization
@{
    ViewData["Title"] = "Home Page";
    DateTime currentDate = DateTime.Now;

}


<div>
    <h1>Welkom</h1>
    <p>Het is vandaag @currentDate.ToLongDateString() </p>
    <a asp-action="CalculatorForm">Bereken hier je geboortedatum</a>
</div>
